h1 {
    text-align: center;
    color: #ffffff;
}
#studentform{
    margin-top:40px;
}
#studenttable{
    margin-top:40px;   
}
.main-form .form-group{
    margin-bottom: 10px; 
}
.mylabel {
    font-weight: bold;
  }
  .container > form {
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 15px;
    background: #fff;
  }
  p {
    color: red;
  }