table.table-bordered{
    border:1px solid rgb(0, 0, 0);
    
}
table.table-bordered > thead > tr > th{
    border:1px solid rgb(0, 0, 0);
    
}
table.table-bordered > tbody > tr > td{
    border:1px solid rgb(0, 0, 0);
    
}
table {
    width: 100%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    background: #fff; 
    /* border-collapse: inherit; */
    /* border-radius: 15px; */
  }
